.page-operation{
    &__content{
        margin-top: 15px;
        display: flex;
        gap: 60px;
    }
    &__operations{
        flex: 1 1 40%;
    }
    &__chart{
        flex: 1 1 60%;
        height: 500px;
        position: sticky;
        top:0;
        left: 0;
        #chartAllOperation{
            width: 100% !important;
        }
    }
}