.categories{
    &__slider-wrapper{
        margin-top: 15px;
        min-width: 420px;
        min-height: 180px;
        position: relative;
    }
    &__body{
        height: auto;
        margin-top: 20px;
    }
    &__tab{
        display: flex;
        flex-direction: column;
        height: 0;
        overflow: hidden;
        transform: translate(-500px);
        transition: transform .3s ease;
        transition-delay: .3s;
        pointer-events: none;
        &_active{
            height: auto;
            transform: translateX(0);
            pointer-events:all;
        }
    }
}
.slider-categories{
    perspective: 1000px;
    width: 100%;
    min-height: 180px;
    position: relative;
    &_active{
        .slider-categories__item_expenses{
            transform: rotateY(180deg);
        }
        .slider-categories__item_income{
            transform: rotateY(360deg);
        }
    }
    &__item{
        border-radius: 10px;
        box-shadow: 0 0 10px rgb(175, 172, 172);
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        backface-visibility: hidden;
        transition: all .3s ease;
        &_income{
            transform: rotateY(180deg);
        }
    }
    &__head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    &__title{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 3px;
    }
    &__icon{
        &::before{
            content: "\f08e";
            @include font-awesome;
            color: black;
            font-size: 18px;
        }
    }
    &__body{
        margin-top: auto;
        display: flex;
        align-items: end;
        justify-content: space-between;
    }
    &__total{
        font-size: 20px;
        font-weight: 600;
    }
    &__total-num{
        font-size: 35px;
    }
    &__total-currency{
        color: red;
    }
}
.slide-button{
    width: 20px;
    height: 40px;
    border-radius: 10px;
    background-color: $main-color;
    box-shadow: 0 0 10px rgb(175, 172, 172);
    position: absolute;
    right: -40px;
    top:0;
    overflow: hidden;
    cursor: pointer;
    &_active{
        .slide-button__circle{
            top: calc(100% - 14px - 2.5px);
        }
    }
    &__content{
        width: 100%;
        height: 100%;
        position: relative;
    }
    &__inp{
        width: 100%;
        height: 100%;
        display: none;
    }
    &__circle{
        position: absolute;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: white;
        top: 2.5px;
        left: 50%;
        transform: translate(-50%, 0);
        transition: all .3s ease;
        cursor: pointer;
    }
    &__bg{

    }
}
.list-categories{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tools-categories{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__item{
        display: inline-flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        &:hover .tools-categories__item-arrow{
            animation: anim-arrow .5s ease 2;
        }
        @keyframes anim-arrow {
            0%, 100%{
                transform: translateX(0);
            }
            50%{
                transform: translateX(8px);
            }
        }
    }
    &__item-text{
        font-size: 16px;
        font-weight: 500;
    }
    &__item-arrow{
        &::before{
            content: "\f105";
            @include font-awesome;
            font-size: 15px;
        }
    }
}
.popup-category{
    position: fixed;
    left: calc(100% + 500px);
    top:0;
    width: 500px;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 4;
    transition: left .3s ease;
    &_open{
        left: calc(100% - 500px);
    }
    &__head{
        border-bottom: 1px solid rgb(218, 218, 218);
    }
    &__head-content{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title{
        font-size: 23px;
        font-weight: 600;
        color: black;
    }
    &__close{
        flex: 0 0 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &::before{
            content: "\f00d";
            @include font-awesome;
            font-size: 28px;
            color: black;
        }
    }
    &__body{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
    &__block-title{
        font-size: 18px;
        font-weight: 500;
    }
    &__block-wrapper{
        border-bottom: 1px solid rgb(218, 218, 218);
        &_without-border{
            border-bottom: none;
        }
    }
    &__block{
        padding: 15px;
        &_no-padding{
            padding: 0;
        }
        &_button{
            margin-top: auto;
        }
    }
    &__block-title{
        font-size: 18px;
        font-weight: 500;
    }
    &__input-container{
        flex: 0 1 200px;
        height: 35px;
        display: flex;
        gap: 8px;
    }
    &__input-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        &::before{
            font-size: 18px;
            color: black;
            @include font-awesome;
        }
        &_name{
            &::before{
                content: "\f5b7";
            }
        }
    }
    &__input-content{
        position: relative;
    }
    &__input{
        background-color: transparent;
        width: 100%;
        height: 100%;
        color: black;
        &:focus + &-label{
            left: 10px;
            top:0;
            font-size: 12px;
        }
        &:valid + &-label{
            left: 10px;
            top:0;
            font-size: 12px;
        }
        &_date{
            width: auto;
        }
    }
    &__input-label{
        font-size: 14px;
        font-weight: 500;
        background-color: white;
        color: black;
        position: absolute;
        left: 3px;
        top:50%;
        transform: translate(0,-50%);
        pointer-events: none;
        transition: all .3s ease;
    }
    &__icon-list-wrapper{
        padding: 15px;
    }   
    &__icon-list-title{
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 500;
    }
    &__icon-list{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__icon{
        flex: 0 0 55px;
        height: 55px;
        border: 1px solid rgb(173, 173, 173);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: transform .3s ease;
        &::before{
            content: "\f00d";
            @include font-awesome;
            color: inherit;
            font-size: 30px;
        }
        &_food1::before{
            content: "\f805";
        }
        &_food2::before{
            content: "\f818";
        }
        &_food3::before{
            content: "\f564";
        }
        &_food4::before{
            content: "\e4c6";
        }
        &_food5::before{
            content: "\f0f4";
        }
        &_food6::before{
            content: "\f7b6";
        }
        &_food7::before{
            content: "\f72f";
        }
        &_food8::before{
            content: "\f4e3";
        }
        &_food9::before{
            content: "\f810";
        }
        &_food10::before{
            content: "\f80f";
        }
        &_food11::before{
            content: "\f1fd";
        }
        &_food12::before{
            content: "\f5d1";
        }
        &_food13::before{
            content: "\f816";
        }
        &_food14::before{
            content: "\e2eb";
        }
        &_food15::before{
            content: "\f7ec";
        }
        &_food16::before{
            content: "\f7ef";
        }
        &_food17::before{
            content: "\f7ec";
        }
        &_food18::before{
            content: "\e448";
        }
        &_home1::before{
            content: "\f015";
        }
        &_home2::before{
            content: "\f4b8";
        }
        &_home3::before{
            content: "\f6c0";
        }
        &_home4::before{
            content: "\f236";
        }
        &_home5::before{
            content: "\e006";
        }
        &_home6::before{
            content: "\f2cd";
        }
        &_home7::before{
            content: "\f2cc";
        }
        &_home8::before{
            content: "\f7d8";
        }
        &_home9::before{
            content: "\e06e";
        }
        &_home10::before{
            content: "\f0eb";
        }
        &_home11::before{
            content: "\f26c";
        }
        &_home12::before{
            content: "\e06d";
        }
        &_home13::before{
            content: "\f494";
        }
        &_building1::before{
            content: "\f1ad";
        }
        &_building2::before{
            content: "\f19c";
        }
        &_building3::before{
            content: "\f64f";
        }
        &_building4::before{
            content: "\f54f";
        }
        &_building5::before{
            content: "\f66f";
        }
        &_building6::before{
            content: "\f54e";
        }
        &_building7::before{
            content: "\f549";
        }
        &_building8::before{
            content: "\f594";
        }
        &_building9::before{
            content: "\f0f8";
        }
        &_building10::before{
            content: "\f51d";
        }
        &_building11::before{
            content: "\f6a7";
        }
        &_building12::before{
            content: "\e587";
        }
        &_building13::before{
            content: "\f678";
        }
        &_building14::before{
            content: "\f752";
        }
        &_building15::before{
            content: "\e586";
        }
        &_building16::before{
            content: "\e57d";
        }
        &_building17::before{
            content: "\e532";
        }
        &_building18::before{
            content: "\e52e";
        }   
    }
    &__color-wrapper{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__color-title{
        font-weight: 500;
    }
    .act{
        transform: translateY(-7px);
    }
    &__button{
        margin-top: auto;
        margin-right: auto;
    }
}
.pagination{
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .swiper-pagination-bullet{
        width: 15px;
        height: 3px;
        border-radius: 0;
        background-color: black;
        transition: transform .3s ease;
        cursor: pointer;
        &:hover{
            transform: scale(1.3);
        }
    }
}
.chart-expenses{
    width: 100px;
    height: 100px;
}