.page-index__content{
    display: flex;
    gap: 100px;
}
.categories{
    flex: 1 1 auto;
}
.grafic{
    margin-top: 15px;
    flex: 1 1 100%;
}
.overblock{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100vh;
    background-color: black;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
    &_open{
        visibility: visible;
        opacity: .7;
    }
}
.button{
    padding: 12px 40px;
    background-color: $main-color;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}