.page-index__content{
    display: flex;
    gap: 100px;
}
.categories{
    flex: 1 1 auto;
}
.grafic{
    margin-top: 15px;
    flex: 1 1 100%;
}
.overblock{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100vh;
    background-color: black;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
    &_open{
        visibility: visible;
        opacity: .7;
    }
}
.button{
    padding: 12px 40px;
    background-color: $main-color;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.item-category{
    // display: flex;
    // align-items: center;
    // gap: 10px;
    cursor: pointer;
    &__head{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &_add{
        .list-categories__icon{
            background-color: gray;
            &::before{
                content: "\2b";
            }
        }
    }
    &__icon{
        flex: 0 0 55px;
        height: 55px;
        background-color: orange;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        &::before{
            @include font-awesome;
            content: "\f805";
            color: white;
            font-size: 25px;
        }
    }
    .icon-food1::before{
        content: "\f805";
    }
    .icon-food2::before{
        content: "\f818";
    }
    .icon-food3::before{
        content: "\f564";
    }
    .icon-food4::before{
        content: "\e4c6";
    }
    .icon-food5::before{
        content: "\f0f4";
    }
    .icon-food6::before{
        content: "\f7b6";
    }
    .icon-food7::before{
        content: "\f72f";
    }
    .icon-food8::before{
        content: "\f4e3";
    }
    .icon-food9::before{
        content: "\f810";
    }
    .icon-food10::before{
        content: "\f80f";
    }
    .icon-food11::before{
        content: "\f1fd";
    }
    .icon-food12::before{
        content: "\f5d1";
    }
    .icon-food13::before{
        content: "\f816";
    }
    .icon-food14::before{
        content: "\e2eb";
    }
    .icon-food15::before{
        content: "\f7ec";
    }
    .icon-food16::before{
        content: "\f7ef";
    }
    .icon-food17::before{
        content: "\f7ec";
    }
    .icon-food18::before{
        content: "\e448";
    }
    .icon-home1::before{
        content: "\f015";
    }
    .icon-home2::before{
        content: "\f4b8";
    }
    .icon-home3::before{
        content: "\f6c0";
    }
    .icon-home4::before{
        content: "\f236";
    }
    .icon-home5::before{
        content: "\e006";
    }
    .icon-home6::before{
        content: "\f2cd";
    }
    .icon-home7::before{
        content: "\f2cc";
    }
    .icon-home8::before{
        content: "\f7d8";
    }
    .icon-home9::before{
        content: "\e06e";
    }
    .icon-home10::before{
        content: "\f0eb";
    }
    .icon-home11::before{
        content: "\f26c";
    }
    .icon-home12::before{
        content: "\e06d";
    }
    .icon-home13::before{
        content: "\f494";
    }
    .icon-building1::before{
        content: "\f1ad";
    }
    .icon-building2::before{
        content: "\f19c";
    }
    .icon-building3::before{
        content: "\f64f";
    }
    .icon-building4::before{
        content: "\f54f";
    }
    .icon-building5::before{
        content: "\f66f";
    }
    .icon-building6::before{
        content: "\f54e";
    }
    .icon-building7::before{
        content: "\f549";
    }
    .icon-building8::before{
        content: "\f594";
    }
    .icon-building9::before{
        content: "\f0f8";
    }
    .icon-building10::before{
        content: "\f51d";
    }
    .icon-building11::before{
        content: "\f6a7";
    }
    .icon-building12::before{
        content: "\e587";
    }
    .icon-building13::before{
        content: "\f678";
    }
    .icon-building14::before{
        content: "\f752";
    }
    .icon-building15::before{
        content: "\e586";
    }
    .icon-building16::before{
        content: "\e57d";
    }
    .icon-building17::before{
        content: "\e532";
    }
    .icon-building18::before{
        content: "\e52e";
    }   
    &__info{
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__name{
        font-weight: 500;
        font-size: 18px;
    }
    &__total{
        font-weight: 500;
        padding: 5px 0;
        margin-left: auto;
    }
    &__footer{
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: grid-template-rows .3s ease;
        &_act{
            grid-template-rows: 1fr;
        }
        &_act  .item-category__footer-content{
            height: auto;
        }
    }
    &__footer-content{
        min-height: 0;
    }
    &__comment-wrapper{
        margin-top: 10px;
        display: flex;
        gap: 8px;
    }
    &__comment-icon{
        // margin-top: 3px;
        // &::before{
        //     content: "\f075";
        //     font-size: 18px;
        //     color: rgb(192, 192, 192);
        //     @include font-awesome;
        // }
    }
    &__buttons{
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }
    &__button{
        flex: 1 1 50%;
        padding: 10px 12px;
        background-color: $main-color;
        border-radius: 10px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        &_delete{
            background-color: rgb(197, 18, 18);
        }
    }
}